[Unit]
Description=Periodic Harmonize self-hosted runner service health check

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true
Unit=harmonize-runner-health-check.service

[Install]
WantedBy=timers.target
